@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html {
    position: relative;
    min-height: 100%;
  }

body {
    background-image:url("../images/woven_@2X.png");
    margin-bottom: 60px;
}

.navbar {
    background-color:teal;
    font-family: 'Roboto Mono', monospace;
    font-size:large;
}

.container {
    margin-top:10%;
}

img {
    border:2px solid teal;
}

.card-body {
    border:2px solid teal;
}